.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 4rem;
}

.services__article {
    background: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: var(--transition);
    height: fit-content;
}

.services__article:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    cursor: default;
}

.services__head {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
}

.services__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.services__list {
    padding: 2rem;
}

.services__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.services__icon {
    font-size: 1.1rem;
    margin-top: 4px;
    color: var(--color-primary);
}

.services__list p {
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .services__article {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
    }

    .services__article {
        width: 90%;
        margin: 0 auto;
    }
}